// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.share-box {
  display: none;
}

/* 导航栏当前选中项高亮颜色 */
.navbar .navbar-nav .nav-link.active {
  font-weight: bold !important;
  color: #880088 !important;
}


.table {
  border-collapse: collapse!important
}

.table td,.table th {
  background-color: #fff!important
}

.table-bordered th,.table-bordered td {
  border: 1px solid #dee2e6!important
}

.table-dark {
  color: inherit
}

.table-dark th,.table-dark td,.table-dark thead th,.table-dark tbody+tbody {
  border-color: #dee2e6
}

.table .thead-dark th {
  color: inherit;
  border-color: #dee2e6
}

/* 强制表格的第一列和第二列内容不换行 */
.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
  white-space: nowrap !important;
  width: 1%; /* 技巧：让这两列宽度自动收缩到刚好包裹文字，不占用额外空间 */
}